<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<!-- đưa thể main của trang checkout vào trang layout -->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>ĐỔI MẬT KHẨU</title>
</head>
<body>
	<main ng-controller="profile">
		<h1>[[#{changepass.title}]]</h1>
		<hr>
		<div class="row">
			<!-- left column -->

			<!-- edit form column -->
			<div class="col-md-12 personal-info">
				<h3>[[#{changepass.titleForm}]]</h3>

				<form class="form-horizontal" action="/my-account/change-password"
					role="form" name="myForm" method="POST" th:object="${account}">
					<div class="form-group">
						<label class="col-lg-3 control-label">[[#{changepass.passOld}]]:</label>
						<div class="col-lg-8">
							<input class="form-control" type="password"
								th:field="*{password}"
								th:attr="placeholder=#{changepass.inputPassOld}" id="passOld">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">[[#{changepass.passNew}]]:</label>
						<div class="col-lg-8">
							<input class="form-control" type="password" name="newPassword"
								ng-model="formPassword.password"
								th:attr="placeholder=#{changepass.inputPassNew}" id="passNew"
								required="required" minlength="6" maxlength="50"> <span
								ng-show="myForm.$submitted || myForm.newpassword.$dirty">
								<span class="error"
								ng-show="((myForm.newpassword.$error.minlength || myForm.newpassword.$error.maxlength))">
									<i class="fa fa-exclamation-circle"></i> Mật khẩu phải có độ
									dài từ 4 - 50 ký tự
							</span> <span class="error" ng-show="myForm.newpassword.$error.required">
									<i class="fa fa-exclamation-circle"></i> Không được để trống
									Mật khẩu
							</span>
							</span>

						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">[[#{changepass.passCf}]]:</label>
						<div class="col-lg-8">
							<input class="form-control" type="password" password-confirm
								match-target="formPassword.password" required="required"
								ng-model="formPassword.cfpassword"
								th:attr="placeholder=#{changepass.inputCfPassNew}"
								name="cfpassword"><span class="error"
								ng-show="myForm.cfpassword.$error.match"> <i
								class="fa fa-exclamation-circle"></i>Mật khẩu không trùng khớp
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-3 control-label"></label>
						<div class="col-md-8">
							<input type="submit" class="btn btn-primary"
								ng-disabled="myForm.$invalid" th:value="#{changepass.change}">
							<span></span> <input type="reset" class="btn btn-default"
								th:value="#{changepass.cancel}">
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-3 control-labe"></div>
						<div class="col-md-8">
							<span class="alert alert-danger" th:if="${error != null}">
								[[${error}]] </span> <span class="alert alert-success"
								th:if="${success != null}"> [[${success}]] </span>
						</div>
					</div>
				</form>

			</div>

		</div>
	</main>
</body>

</html>