<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<!-- đưa thể main của trang checkout vào trang layout -->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<main ng-controller="profile">
		<div th:if="${error != null}">
			<p class="text-danger">[[${error}]]</p>
		</div>
		<div th:if="${message != null}">
			<p class="text-warning">[[${message}]]</p>
		</div>
		<div>
			<h2>Đặt lại mật khẩu</h2>
		</div>

		<form th:action="@{/reset_password}" method="post"
			style="max-width: 350px; margin: 0 auto;" name="myForm">
			<input type="hidden" name="token" th:value="${token}" />
			<div class="border border-secondary rounded p-3">
				<div>
					<p>
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Enter your new password"
							maxlength="50" minlength="6" ng-model="formProfile.password"
							required="required" autofocus /> <span
							ng-show="myForm.$submitted || myForm.password.$dirty"> <span
							class="error"
							ng-show="((myForm.password.$error.minlength || myForm.password.$error.maxlength))">
								<i class="fa fa-exclamation-circle"></i> Mật khẩu phải có độ dài
								từ 6 - 50 ký tự
						</span> <span class="error" ng-show="myForm.password.$error.required">
								<i class="fa fa-exclamation-circle"></i> Mật khẩu không được để
								trống
						</span>
						</span>
					</p>
					<p>
						<input type="password" class="form-control" name="cfpassword"
							ng-model="formProfile.cfpassword"
							placeholder="Confirm your new password" password-confirm
							match-target="formProfile.password" required="required" /><span
							class="error" ng-show="myForm.cfpassword.$error.match"> <i
							class="fa fa-exclamation-circle"></i> Mật khẩu không trùng khớp

						</span>
					</p>
					<p class="text-center">
						<input type="submit" value="Đổi mật khẩu"
							ng-disabled="myForm.$invalid" class="btn btn-primary" />
					</p>
				</div>
			</div>
		</form>
	</main>
</body>
</html>
